

  .tickets-sort-settings-wrapper {
    display: flex;
margin-bottom: 20px;
  }

  .tickets-sort-settings-btn {
width:252px;
min-height: 50px;
background: #FFFFFF;

border: 1px solid #DFE5EC;
box-sizing: border-box;
  } 
  .tickets-sort-settings-btn.active {
    background: #2196F3;
    color: white;
  }