ul {
    padding: 0
}

ul li {
    list-style: none;
}

p {
    padding: 0;
    margin: 0
}

.ticket-item-wrapper {
    width: 502px;
    height: 184px;
    padding: 20px 20px;
    padding-top: 26px;
    margin-bottom: 20px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
}

.ticket-item-header {
    width: 432px;
    display: flex;
    justify-content: space-between;

}

.ticket-item-price {
    padding: 0;
    margin: 0;
    margin-bottom: 26px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #2196F3;
}

.ticket-item-logo {
    width: 110px;
    height: 36px;
    margin-top: -7px;
}

.ticket-item-content {
    display: flex;
    justify-content: space-between;
    width: 462px;
    height: 39px;
    margin-bottom: 10px;
}

.ticket-item-route-title {
    width: 141px;
    height: 18px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #A0B0B9;
}

.ticket-item-route-text {
    display: flex;
    align-items: center;
    width: 141px;
    height: 21px;
    margin-bottom: 10px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #4A4A4A;
}