.ticket-item-wrapper{
    width: 502px;
    height: 184px;
    padding: 20px 20px;
    padding-top:26px;
    margin-bottom:20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
}
ul {
    padding:0
}
ul li {
    padding:0;
    margin:0;
    list-style:none;
}
p {
    padding:0;
    margin:0
}

.ticket-item-header {
    display:flex;
    justify-content: space-between;
    width:432px;
}

.ticket-item-price {
    
    bottom: 79.26%;
    padding:0;
    margin:0;
    margin-bottom:26px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    
    color: #2196F3;
    
    }
.ticket-item-logo {
    width:110px;
    height: 36px;
}

.ticket-item-content {
    width:462px;
    height: 39px;
    display:flex;
    justify-content: space-between;
    margin-bottom:10px;
}

.ticket-item-route-title {
width: 141px;
height: 18px;

font-family:"Open Sans";
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.5px;
text-transform: uppercase;

color: #A0B0B9;

}

.ticket-item-route-text {
 
width: 141px;
height: 21px;
margin-bottom: 10px;

font-family: "Open Sans";
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: #4A4A4A;


}