.container {
  display: flex;
  margin-bottom: 19px;
}

.tab {
  width: 252px;
  padding-top: 17px;
  padding-bottom: 13px;
  font: inherit;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background: #ffffff;
  border: 1px solid #dfe5ec;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}

.activeTab {
  background: #2196f3;
  color: #ffffff;
}

.tab:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.tab:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
