.container {
  display: flex;
  margin-bottom: 20px;
}

.btn {
  width: 252px;
  min-height: 50px;
  border: 1px solid #DFE5EC;
  box-sizing: border-box;
  font-family:inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background: #FFFFFF;
}

.activeBtn {
  background: #2196F3;
  color: white;
  outline: none;
}